<h1 align="center"><%= "Category: " + @category.name %></h1>
<div align="center">
  
  <% if logged_in? and current_user.admin? %>
    <div class="row">
      <span ><%= link_to "Edit Category Name", edit_category_path %></span> | <span ><%= link_to "Delete Category", category_path(@category), method: :delete, data: { confirm: "Are you sure you want to delete this category?"} %></span>
    </div>
  <% end %>
  
  <%= will_paginate @category_articles %>
</div>

<%= render 'articles/article', obj: @category_articles %>

<div align="center">
  <%= will_paginate @category_articles %>
</div>